$background: #f5f5f5;

.simple-cart {
  font-size: 1.25rem;
  position: fixed;
  top: 4.5rem;
  right: 1rem;
  width: 200px;

  ul {
    background: $background;
    border: 1px solid $background;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }

  ul:after {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-image: linear-gradient(135deg, transparent 66%, $background 67%), linear-gradient(45deg, $background 33%, gray 34%, transparent 44%);
    background-position: -5px 0;
    background-size: 10px 100%;
    background-repeat: repeat-x;
  }

  ul:after {
    top: 100%;
    bottom: auto;
    background-image: linear-gradient(135deg, $background 33%, gray 34%, transparent 44%), linear-gradient(45deg, transparent 66%, $background 67%);
  }
}
