$font-primary: 'helvetica';

$primary-color: #222;
$secondary-color: $primary-color * 2;
$black: #000;
$white: #fff;

$gutter-lg: 5vw;
$gutter-md: $gutter-lg / 2;
$gutter-sm: $gutter-md / 2;

$transition-sp: 350ms all;
$border-radius: 3px;