// global config
$site-width: 960px;

// colors
$primary-color: #888;
$secondary-color: #444;
$primary-font: 'helvetica';
$black: #222;
$white: #fff;

// gutters
$gutter: 2vw;
$gutter-md: $gutter / 2;
$gutter-sm: $gutter / 4;

// general styling
$round-border: 3px;